body {
	margin: 0;
	font-family: "Avenir Next";
	color: #E2ECEE;
}

#header {
	padding: 20px;
	width: 100%;
	background-color: #555;
	text-align: center;
	font-size: 2em;
}

#header > * {
	display: inline;
}

.number-data {
	margin: 20px 0;
	padding: 30px;
	text-align: center;
}

#number-data-1 {
	background-color: #3ED844;
}
#number-data-2 {
	background-color: #5DB1F4;
}
#number-data-3 {
	background-color: #7F5E87;
}

.number {
	font-size: 3em;
	display: inline-block;
	text-align: center;
}

.number > * {
	display: inline-block;
}